<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
    <title>Upload Test</title>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="shortcut icon" th:href="@{/common/image/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/common/iview/styles/iview.css}"/>
</head>
<body>
<div>
    <div style="text-align: center;">
        <h3>错误页面</h3>
    </div>
</div>
</body>
</html>